[submodule "chromium-widevine"]
	path = chromium-widevine
	url = https://aur.archlinux.org/chromium-widevine.git
[submodule "downgrade"]
	path = downgrade
	url = https://aur.archlinux.org/downgrade.git
[submodule "icdiff"]
	path = icdiff
	url = https://aur.archlinux.org/icdiff.git
[submodule "peco"]
	path = peco
	url = https://aur.archlinux.org/peco.git
[submodule "quicksynergy"]
	path = quicksynergy
	url = https://aur.archlinux.org/quicksynergy.git
[submodule "spotify"]
	path = spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "wakeonlan"]
	path = wakeonlan
	url = https://aur.archlinux.org/wakeonlan.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "python-ovh"]
	path = python-ovh
	url = https://aur.archlinux.org/python-ovh.git
[submodule "pasystray-gtk3-git"]
	path = pasystray-gtk3-git
	url = https://aur.archlinux.org/pasystray-gtk3-git.git
[submodule "autojump"]
	path = autojump
	url = https://aur.archlinux.org/autojump.git
[submodule "hollywood"]
	path = hollywood
	url = https://aur.archlinux.org/hollywood.git
[submodule "jetbrains-toolbox"]
	path = jetbrains-toolbox
	url = https://aur.archlinux.org/jetbrains-toolbox.git
[submodule "mkinitcpio-systemd-tool"]
	path = mkinitcpio-systemd-tool
	url = https://aur.archlinux.org/mkinitcpio-systemd-tool.git
[submodule "alacritty-ligatures-git"]
	path = alacritty-ligatures-git
	url = https://aur.archlinux.org/alacritty-ligatures-git.git
[submodule "btrfs-du"]
	path = btrfs-du
	url = https://aur.archlinux.org/btrfs-du.git
[submodule "git-brunch"]
	path = git-brunch
	url = https://aur.archlinux.org/git-brunch
[submodule "nvm"]
	path = nvm
	url = https://aur.archlinux.org/nvm
[submodule "postman-bin"]
	path = postman-bin
	url = https://aur.archlinux.org/postman-bin
[submodule "ruby-build"]
	path = ruby-build
	url = https://aur.archlinux.org/ruby-build
[submodule "slack-electron"]
	path = slack-electron
	url = https://aur.archlinux.org/slack-electron
[submodule "ttf-twemoji-color"]
	path = ttf-twemoji-color
	url = https://aur.archlinux.org/ttf-twemoji-color
[submodule "urxvt-resize-font-git"]
	path = urxvt-resize-font-git
	url = https://aur.archlinux.org/urxvt-resize-font-git
[submodule "urxvtcd"]
	path = urxvtcd
	url = https://aur.archlinux.org/urxvtcd
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom
