[submodule "chromium-widevine"]
	path = chromium-widevine
	url = https://aur.archlinux.org/chromium-widevine.git
[submodule "downgrade"]
	path = downgrade
	url = https://aur.archlinux.org/downgrade.git
[submodule "icdiff"]
	path = icdiff
	url = https://aur.archlinux.org/icdiff.git
[submodule "peco"]
	path = peco
	url = https://aur.archlinux.org/peco.git
[submodule "quicksynergy"]
	path = quicksynergy
	url = https://aur.archlinux.org/quicksynergy.git
[submodule "spotify"]
	path = spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "wakeonlan"]
	path = wakeonlan
	url = https://aur.archlinux.org/wakeonlan.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "python-ovh"]
	path = python-ovh
	url = https://aur.archlinux.org/python-ovh.git
[submodule "pasystray-gtk3-git"]
	path = pasystray-gtk3-git
	url = https://aur.archlinux.org/pasystray-gtk3-git.git
[submodule "autojump"]
	path = autojump
	url = https://aur.archlinux.org/autojump.git
[submodule "hollywood"]
	path = hollywood
	url = https://aur.archlinux.org/hollywood.git
[submodule "jetbrains-toolbox"]
	path = jetbrains-toolbox
	url = https://aur.archlinux.org/jetbrains-toolbox.git
[submodule "mkinitcpio-systemd-tool"]
	path = mkinitcpio-systemd-tool
	url = https://aur.archlinux.org/mkinitcpio-systemd-tool.git
