[submodule "chromium-widevine"]
	path = chromium-widevine
	url = https://aur.archlinux.org/chromium-widevine.git
[submodule "downgrade"]
	path = downgrade
	url = https://aur.archlinux.org/downgrade.git
[submodule "icdiff"]
	path = icdiff
	url = https://aur.archlinux.org/icdiff.git
[submodule "peco"]
	path = peco
	url = https://aur.archlinux.org/peco.git
[submodule "quicksynergy"]
	path = quicksynergy
	url = https://aur.archlinux.org/quicksynergy.git
[submodule "spotify"]
	path = spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "wakeonlan"]
	path = wakeonlan
	url = https://aur.archlinux.org/wakeonlan.git
[submodule "python-ovh"]
	path = python-ovh
	url = https://aur.archlinux.org/python-ovh.git
[submodule "autojump"]
	path = autojump
	url = https://aur.archlinux.org/autojump.git
[submodule "hollywood"]
	path = hollywood
	url = https://aur.archlinux.org/hollywood.git
[submodule "jetbrains-toolbox"]
	path = jetbrains-toolbox
	url = https://aur.archlinux.org/jetbrains-toolbox.git
[submodule "mkinitcpio-systemd-tool"]
	path = mkinitcpio-systemd-tool
	url = https://aur.archlinux.org/mkinitcpio-systemd-tool.git
[submodule "alacritty-ligatures-git"]
	path = alacritty-ligatures-git
	url = https://aur.archlinux.org/alacritty-ligatures-git.git
[submodule "btrfs-du"]
	path = btrfs-du
	url = https://aur.archlinux.org/btrfs-du.git
[submodule "git-brunch"]
	path = git-brunch
	url = https://aur.archlinux.org/git-brunch
[submodule "nvm"]
	path = nvm
	url = https://aur.archlinux.org/nvm
[submodule "postman-bin"]
	path = postman-bin
	url = https://aur.archlinux.org/postman-bin
[submodule "ruby-build"]
	path = ruby-build
	url = https://aur.archlinux.org/ruby-build
[submodule "slack-electron"]
	path = slack-electron
	url = https://aur.archlinux.org/slack-electron
[submodule "ttf-twemoji-color"]
	path = ttf-twemoji-color
	url = https://aur.archlinux.org/ttf-twemoji-color
[submodule "urxvt-resize-font-git"]
	path = urxvt-resize-font-git
	url = https://aur.archlinux.org/urxvt-resize-font-git
[submodule "urxvtcd"]
	path = urxvtcd
	url = https://aur.archlinux.org/urxvtcd
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom
[submodule "apg"]
	path = apg
	url = https://aur.archlinux.org/apg
[submodule "elm-platform-bin"]
	path = elm-platform-bin
	url = https://aur.archlinux.org/elm-platform-bin
[submodule "espanso-bin"]
	path = espanso-bin
	url = https://aur.archlinux.org/espanso-bin
[submodule "exercism-bin"]
	path = exercism-bin
	url = https://aur.archlinux.org/exercism-bin
[submodule "ttf-symbola"]
	path = ttf-symbola
	url = https://aur.archlinux.org/ttf-symbola
[submodule "virtualbox-ext-oracle"]
	path = virtualbox-ext-oracle
	url = https://aur.archlinux.org/virtualbox-ext-oracle
[submodule "rbenv"]
	path = rbenv
	url = https://aur.archlinux.org/rbenv
[submodule "i3lock-color"]
	path = i3lock-color
	url = https://aur.archlinux.org/i3lock-color
[submodule "speedometer"]
	path = speedometer
	url = https://aur.archlinux.org/speedometer
[submodule "authelia"]
	path = authelia
	url = https://aur.archlinux.org/authelia
[submodule "dlib"]
	path = dlib
	url = https://aur.archlinux.org/dlib
[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru
