[Unit]
Description=Network Manager Applet
Conflicts=awesomeexit.target

[Service]
ExecStart=/usr/bin/nm-applet
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=awesome.target
