[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
Conflicts=awesomeexit.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=default.target
