[Unit]
Description=Xbindkeys daemon
Conflicts=awesomeexit.target

[Service]
ExecStart=/usr/bin/xbindkeys -n
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=awesome.target
